<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning_Logs</title>
    {% extends "base.html" %}&nbsp;
    <div class="jumboton">
        <h1>Track You're Learning.</h1>
    </div>
</head>
<body>

{% block content %}
<h2 style="font-size:25px;position:absolute;top:100px;left:12px;">
    <a href="{% url 'register' %}">Resgister an Account</a>&nbsp;&nbsp;,for free were you can discover the topic and learn things,and can create youre topic and write yours entris
</h2>
<h2 style="font-size:25px;position:absolute;top:173px;left:12px;">Welocme to Learing Logs were you can learn many things aboout multiple topics</h2>
</body>
{% endblock %}
</html>